body {
    background-color: #222;
    color: #DDD;
    font-size: 20pt;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'KoHo', sans-serif;
}
